.item-card {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 4px;
  border: 1px solid rgb(231, 183, 183); // убрать потом или поменять на тень
  padding: 10px;
  &__image-block {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
  }
  &__image {
    border-radius: 4px;
    max-width: 100%;
    height: 210px; // проверить , может не задавать??
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
  }
  &__image:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
  &__name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;

  }
  &__line {
    border-top: 1px solid rgb(184, 182, 182);
    margin-top: 2px;
    margin-bottom: 2px;
  }
  &__date-comment {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;
    img {
      width: 20px; //проверить
      height: 20px; // проверить
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__comment-count {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;
    margin-right: 8px;
    img {
      width: 16px; //проверить
      height: 16px; // проверить
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__watch {
    font-size: 14px;
    color: grey;
    margin: 0 8px;
  }

}