.app {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  background-color: bisque;
  padding: 0;
}
.app__container {
  display: flex;
  //justify-content: space-between;
  aside {
    width: 216px;
    background-color: rgb(241, 176, 231);// поменять потом цвет фона 
  }
  .aside-right {
    margin-left: auto;
  }
  

}