.subtitle {
  //text-align: left;
  .subtitle-btn {
    font-size: 18px;
    padding: 4px 8px;
    font-weight: bold;
    width: 100%;
    background-color: rgb(196, 115, 189);
    border: 1px solid rgb(95, 44, 97);
    }
}