// .item-card__page {
//   margin: 20px 40px;
// }

.item-cardpage {
  margin-left: 4px;
  margin-right: 4px;
  background-color: antiquewhite;
  border-radius: 4px;
  border: 1px solid rgb(231, 183, 183); // убрать потом или поменять на тень
  padding: 10px;
  display: flex;
  flex-direction: column;
  &__image {
    border-radius: 4px;
    margin: auto;
    width: 400px; //проверить
    // overflow: hidden; //надо ли?
    height: 100%; // проверить , может не задавать??
     //центрироавть картинку
  }
  &__name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  &__description {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  &__author {
    margin-left: auto;
    a {
      color: #696969;
    }
  }
  &__instruction-title {
    color: rgb(95, 44, 97);
    font-weight: bold;
  }
  &__button-link {
    display: flex;
    max-width: 200px;
    margin: 8px auto;
    background-color:rgb(231, 183, 183);
    border: 2px solid rgb(241, 166, 180);
    border-radius: 2px;
    a {
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;
      padding: 8px;
      text-decoration: none;
      list-style-type: none;
    }
  }
  &__line {
    border-top: 1px solid rgb(184, 182, 182);
    margin-top: 2px;
    margin-bottom: 2px;
  }
  &__date-comment {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;
    img {
      width: 20px; //проверить
      height: 20px; // проверить
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &__comment-count {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: grey;
    margin-right: 8px;
    img {
      width: 16px; //проверить
      height: 16px; // проверить
      margin-left: 4px;
      margin-right: 4px;
    }
  }

}